# Folders
/backups/
/crash-reports/
/dumps/
/journeymap/data/
/journeymap/icon/
/journeymap/journeymap.log
/kubejs/exported/
/local/ftbchunks/data/
/local/ftbutilities/
/logs/
/mods/
/patchouli_books/
/resourcepacks/
/saves/
/screenshots/
/schematics/
/skyblock_exports/
/structurize/
/tconplanner/
/woot/

# Files
BotaniaVars.dat
usercache.json
usernamecache.json

# GDLauncher
config.bak.json
config.json
/natives/


